{# email.twig #}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Simple Transactional Email</title>
  <link rel="stylesheet" type="text/css" href="../css/email.css" inline>
</head>

<body class="">
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">

          <table class="main">

            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p>
                        {{ message.greeting|default('Hello FooBar') }}
                      </p>
                      <br>
                      <p>
                        {{ message.body|default('Text goes here') }}
                      </p>
                      <br>
                      <p>
                        {{ message.goodbye|default('Best Regards,') }}
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- END MAIN CONTENT AREA -->
          </table>

          <!-- START FOOTER -->
          <div class="footer">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-block">
                  <table border="0" cellpadding="0" cellspacing="0" dir="rtl" width="100%">
                    <tr>

                      <td dir="ltr" class="full-width" width="*">

                        <table border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <span class="black">
                                  {{ person.title }} {{ person.fullname }}
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top">
                                  {{ person.position }}, {{ person.company }}
                              </td>
                            </tr>
                            <tr>
                              <td valign="top">
                                Website:
                                <a href="{{ links.website }}" target="_blank">
                                  {{ links.website_pretty|default(links.website) }}
                                </a>
                              </td>
                            </tr>

                            <tr>
                              <td valign="top">
                                Cell:
                                <a href="tel:{{ contacts.cell|replace({ '(': '', ')': '', ' ': '' }) }}" target="_blank">
                                  {{ contacts.cell|default(contacts.cell) }}
                                </a>
                              </td>
                            </tr>

                            <tr>
                              <td valign="top">
                                Office:
                                <a href="tel:{{ contacts.phone|replace({ '(': '', ')': '', ' ': '' }) }}" target="_blank">
                                  {{ contacts.phone|default(contacts.phone) }}
                                </a>
                              </td>
                            </tr>

                            <tr>
                              <td valign="top">
                                Skype:
                                <a href="skype:{{ contacts.skype_name }}?call" target="_blank">
                                  {{ contacts.skype_name }}
                                </a>
                              </td>
                            </tr>
                            <tr height="40">
                              <td valign="bottom">
                                {% if links.facebook %}
                                <a href="https://facebook.com/{{ links.facebook }}" class="social-icon" title="Facebook" target="_blank">
                                  <img src="../images/facebook.png" class="image_inline" height="32" width="32" inline>
                                </a>
                                {% endif %}
                                {% if links.twitter %}
                                <a href="https://twitter.com/{{ links.twitter }}" class="social-icon" title="Twitter" target="_blank">
                                  <img src="../images/twitter.png" class="image_inline" height="32" width="32" inline>
                                </a>
                                {% endif %}
                                {% if links.vk %}
                                <a href="https://vk.com/{{ links.vk }}" class="social-icon" title="VK" target="_blank">
                                  <img src="../images/vk.png" class="image_inline" height="32" width="32" inline>
                                </a>
                                {% endif %}
                                {% if links.google_plus %}
                                <a href="https://plus.google.com/{{ links.google_plus }}/" class="social-icon" title="Google+" target="_blank">
                                  <img src="../images/google-plus.png" class="image_inline" height="32" width="32" inline>
                                </a>
                                {% endif %}
                                {% if links.linkedin %}
                                <a href="https://www.linkedin.com/company/{{ links.linkedin }}" class="social-icon" title="LinkedIn" target="_blank">
                                  <img src="../images/linkedin.png" class="image_inline" height="32" width="32" inline>
                                </a>
                                {% endif %}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>

                      <td dir="ltr" class="full-width" width="10">&nbsp;</td>

                      <td dir="ltr" class="full-width" width="160">
                        <img src="../images/logo.png" class="img-responsive" alt="Company logo" inline>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
          </div>
          <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
</body>

</html>